html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

  --green: #8cc63f;
  --dark-green: #619819;
  --black: #000000;
  --white: #ffffff;
  --red: #e57373;
}

.navbar-links {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 10vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.routes-container {
  flex: 1;
  overflow: visible;
}
