.dashboard-page {
  padding: 40px;
  background-color: #f4f6f8;
  min-height: 100vh;
  position: relative;
}

.button-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.add-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.add-button:hover {
  background-color: #0056b3;
}

.upper-section {
  width: 100%;
  margin-bottom: 20px;
}

.main-section {
  display: flex;
  gap: 20px;
}

.left-section {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Grid layout for flexibility */
  gap: 20px;
  flex: 3; /* Takes up 75% width */
}

.right-section {
  flex: 1; /* Takes up 25% width */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  position: relative;
  max-width: 600px;
  width: 90%;
}
