.info-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.weight-content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align at the start */
  align-items: flex-start;
  margin-bottom: 10px;
}

.weight-value {
  font-size: 2.5em;
  font-weight: bold;
  align-self: center;
}

.weight-content .goal-status {
  align-self: center;
  font-size: 2vw;
  color: var(--black);
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 100%;
}

.above-goal {
  color: #e57373; /* Red for over the goal */
}

.below-goal {
  color: var(--green); /* Green for under the goal */
}

.progress-bar {
  background: var(--white);
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  transition: width 0.4s ease;
}

.info-card .motivational-text {
  text-align: center;
  font-weight: bold;
  color: var(--black);
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1vw;
}

/* Responsive Design Adjustments */
@media (max-width: 1200px) {
  .weight-value {
    font-size: 2em;
  }

  .goal-status {
    font-size: 1em;
  }

  .info-card {
    padding: 15px;
  }
}

@media (max-width: 1025px) {
  .info-card .motivational-text {
    display: none;
  }
}

@media (max-width: 768px) {
  .weight-value {
    font-size: 1.5em;
  }

  .goal-status {
    font-size: 0.7em;
  }

  .info-card {
    padding: 10px;
  }

  .progress-bar {
    height: 8px;
  }
}

@media (max-width: 480px) {
  .weight-value {
    font-size: 1.8em;
  }

  .goal-status {
    font-size: 0.9em;
  }

  .info-card {
    padding: 8px;
  }

  .progress-bar {
    height: 6px;
  }

  .motivational-text {
    font-size: 0.9em;
  }
}
