/* InfoCardPieChart.css */

.info-card-pie-chart {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
    position: relative;
    text-align: center;
  }
  
  .pie-chart-container {
    width: 100%;
    height: 200px; /* Adjust height for the pie chart */
    margin: 20px 0;
  }
  
  .goal-status {
    font-size: 1.2em;
    color: #888;
    margin-top: 10px;
  }
  
  .above-goal {
    color: #e57373; /* Red for over the goal */
  }
  
  .below-goal {
    color: #81c784; /* Green for under the goal */
  }
  
  .motivational-text {
    text-align: center;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
  }
  